*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
body{
    color: blueviolet ;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#05073a,#dc0606ca);
    padding: 10px;

}
.container{
    max-width: 700px;   
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(135deg,#05073a,#dc0606ca);
    align-items: center;
    
}
.name{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding:0 0 20px 0 ;
}
.name::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg,#71b7e6,#9b5b);

}
.card-details{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.card-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;

    
}
input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid  blue  ;
}

.btn{
    position: relative;
    left: 259px;
}
